body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  height: 84vh;
  width: 100%;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.inner-map {
  justify-content: left;
  align-items: left;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.all-info {
  margin: 10%;
  margin-top: 0;
}

.side-menu {
  display: flex;
  height: 100%;
  width: 40%;
  flex-direction: column;
}

.legent {
  display: block;
  height: auto;
  max-height: 75%;
  width: 100%;
}

.vertical-menu-div {
  display: block;
  height: auto;
  max-height: 25%;
  width: 100%;
}

.search-bar input[type="text"] {
  width: 250px;
  height: 30px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: small;
  border: 1px solid #333;
}

.picked {
  color: lightgreen;
}

.horizontal-menu {
  width: 100%;
  height: auto;
  overflow: auto;
  white-space: nowrap;
  background-color: #333;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.horizontal-item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 5%;
}

.horizontal-item:hover {
  background-color: #777;
}

.local-menu-two {
  width: 100%;
  height: auto;
  overflow: auto;
  white-space: nowrap;
  background-color: #444;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.local-item-two {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 5%;
}

.local-item-two:hover {
  background-color: #888;
}

.vertical-menu {
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.vertical-item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 5%;
}

.vertical-item:hover {
  background-color: #777;
}

.dark-block {
  width: 100%;
  height: 2rem;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.info-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.info-item {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid #333;
  padding: 14px;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

.info-item:hover {
  margin-top: 0px;
  margin-bottom: 4px;
}

.picked-info {
  margin-top: 0px;
  margin-bottom: 4px;
}

.search {
  height: auto;
  width: 100%;
  background-color: #333;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: lightgreen transparent lightgreen transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
